.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  padding: 6rem;
  min-height: 100vh;
  background-position: top;
  background-repeat: no-repeat;
  background-color: #202228;

}

.container {
  width: 600px;
  padding: 40px 80px;
  background-color: #ffffff47;
  border-radius: 10px;
  display: grid;
  justify-items: center;
  row-gap: 30px;
  transition: .3s;
}

.containerActive {
  background-color: #fff !important;
}

.container:hover {
  background-color: #ffffffcb;
}

.containerDecrypt {
  margin-bottom: 50px;
  transition: .6s;
}